* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    background-color: #fafafa;
    justify-content: center;
    min-height: 100vh;
}


.instagram-wrapper {
    margin-left: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    padding-bottom: 200px;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-left: 15%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    padding-right: 15%;
}

.instagram-trocar{
    font-family: arial,sans-;
    font-size: 14px;
}

.instagram-trocar a{

    color: #0095f6;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 330px;
    height: 300px;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.link-blue {
    color: #0095f6;
}

.instagram-rodape{
    position: absolute;
    bottom: 0;
    color: rgb(160, 160, 160);
    text-align: center;
    padding-left: 30%;
    font-size: 10px;
    font-family: verdana, arial;

}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}